set protocols pim rp static address {{vxlans_infra.pim_rp}}
{% for vxlan in vxlans_infra.vxlans %}
set vlans {{vxlan.name}} vlan-id {{vxlan.vlan_id}} vxlan vni {{vxlan.vni}} multicast-group {{vxlan.multicast_group}}
set vlans {{vxlan.name}} vxlan encapsulate-inner-vlan
set vlans {{vxlan.name}} vxlan unreachable-vtep-aging-timer {{vxlan.aging_timer}}
{% endfor %}
{# set protocols l2-learning decapsulate-accept-inner-vlan #}