{% for lo_interface in lo_interfaces|dict2items %}
delete interfaces {{ lo_interface.key }} unit {{ lo_interface.value.unit }} family inet address {{ lo_interface.value.address }}
{% endfor %}
{% for ebgp_group in ebgp_groups %}
delete security authentication-key-chains key-chain {{ ebgp_group.key_chain_name }} key 1 secret {{ ebgp_group.key_chain_secret }}
delete security authentication-key-chains key-chain {{ ebgp_group.key_chain_name }} key 1 start-time now
delete security authentication-key-chains key-chain {{ ebgp_group.key_chain_name }} key 1 algorithm md5
delete protocols bgp group {{ ebgp_group.name }}
{% endfor %}