{% for lo_interface in lo_interfaces|dict2items %}
set interfaces {{ lo_interface.key }} unit {{ lo_interface.value.unit }} family inet address {{ lo_interface.value.address }}
{% endfor %}
set routing-option router-id {{ router_id }}
{% for ebgp_group in ebgp_groups %}
set security authentication-key-chains key-chain {{ ebgp_group.key_chain_name }} key 1 secret {{ ebgp_group.key_chain_secret }}
set security authentication-key-chains key-chain {{ ebgp_group.key_chain_name }} key 1 start-time now
set security authentication-key-chains key-chain {{ ebgp_group.key_chain_name }} key 1 algorithm md5
set protocols bgp group {{ ebgp_group.name }} type external
set protocols bgp group {{ ebgp_group.name }} multipath multiple-as
set protocols bgp group {{ ebgp_group.name }} local-as {{ ebgp_group.local_asn }}
set protocols bgp group {{ ebgp_group.name }} local-address {{ lo_interfaces[ebgp_group.local_lo].address }}
set protocols bgp group {{ ebgp_group.name }} family evpn signaling
set protocols bgp group {{ ebgp_group.name }} bfd-liveness-detection minimum-interval {{ ebgp_group.bfd_minimum_interval }}
set protocols bgp group {{ ebgp_group.name }} bfd-liveness-detection multiplier {{ ebgp_group.multiplier }}
set protocols bgp group {{ ebgp_group.name }} bfd-liveness-detection authentication key-chain {{ ebgp_group.key_chain_name }}
set protocols bgp group {{ ebgp_group.name }} bfd-liveness-detection authentication algorithm keyed-md5
{% for neighbor in ebgp_group.neighbors %}
set protocols bgp group {{ ebgp_group.name }} neighbor {{ neighbor.peer }} peer-as {{ neighbor.asn }} multihop
{% endfor %}
{% endfor %}

{#
set interfaces lo0 unit 0 family inet address 10.0.0.1/32


set protocols bgp group OVERLAY type external
set protocols bgp group OVERLAY multipath multiple-as
set protocols bgp group OVERLAY local-as <LOCAL_AS_NUMBER>
set protocols bgp group OVERLAY local-address <LOCAL_LO0-ADDRESS>
set protocols bgp group OVERLAY family evpn signaling
set protocols bgp group OVERLAY bfd-liveness-detection minimum-interval <MINIMUM-INTERVAL>
set protocols bgp group OVERLAY bfd-liveness-detection multiplier <MULTIPLIER>
set protocols bgp group OVERLAY bfd-liveness-detection authentication key-chain <KEY-CHAIN-NAME>
set protocols bgp group OVERLAY bfd-liveness-detection authentication algorithm keyed-md5
set protocols bgp group OVERLAY neighbor <COMPUTE1-LO0-ADDRESS> peer-as <COMPUTE1-AS-NUMBER> multiop
set protocols bgp group OVERLAY neighbor <COMPUTE2-LO0-ADDRESS> peer-as <COMPUTE2-AS-NUMBER> multiop
set protocols bgp group OVERLAY neighbor <COMPUTE3-LO0-ADDRESS> peer-as <COMPUTE3-AS-NUMBER> multiop

set security authentication-key-chains key-chain <KEY-CHAIN-NAME> key 1 secret <SECRET>
set security authentication-key-chains key-chain <KEY-CHAIN-NAME> key 1 start-time now
set security authentication-key-chains key-chain <KEY-CHAIN-NAME> key 1 algorithm md5
#}