

{#
set routing-instances <L2_RI_NAME> instance-type mac-vrf
set routing-instances <L2_RI_NAME> protocols evpn encapsulation vxlan
set routing-instances <L2_RI_NAME> protocols evpn default-gateway do-not-advertise
set routing-instances <L2_RI_NAME> protocols evpn extended-vni-list <VNI_ID>
set routing-instances <L2_RI_NAME> vtep-source-interface lo0.0
set routing-instances <L2_RI_NAME> remote-vtep-list <OVS_LO0_ADDRESS>
set routing-instances <L2_RI_NAME> bridge-domains bd-<VLAN_ID> vlan-id <VLAN_ID>
set routing-instances <L2_RI_NAME> bridge-domains bd-<VLAN_ID> routing-interface irb.<VLAN_ID>
set routing-instances <L2_RI_NAME> bridge-domains bd-<VLAN_ID> vxlan vni <VNI_ID>
set routing-instances <L2_RI_NAME> bridge-domains bd-<VLAN_ID> vxlan static-remote-vtep-list <OVS_LO0_ADDRESS>
set routing-instances <L2_RI_NAME> service-type vlan-based
set routing-instances <L2_RI_NAME> route-distinguisher <LO0.0_ADDRESS>:<VLAN_ID>
set routing-instances <L2_RI_NAME> vrf-target target:<LOCAL_AS_NUMBER>:<VNI_ID>


set routing-instances <L3_RI_NAME> instance-type vrf
set routing-instances <L3_RI_NAME> interface irb.<VLAN_ID>
set routing-instances <L3_RI_NAME> route-distinguisher <LO0.0_ADDRESS>:<VNI_ID>
set routing-instances <L3_RI_NAME> vrf-import <L3_RI_NAME_IMPORT>
set routing-instances <L3_RI_NAME> vrf-export <L3_RI_NAME_EXPORT>
set routing-instances <L3_RI_NAME> vrf-table-label

set policy-options policy-statement <L3_RI_NAME_EXPORT> term A then community add <COM_VLAN_ID>
set policy-options policy-statement <L3_RI_NAME_EXPORT> term A then accept
set policy-options policy-statement <L3_RI_NAME_IMPORT> term A from community <COM_VLAN_ID>
set policy-options policy-statement <L3_RI_NAME_IMPORT> term A then accept
set policy-options community <COM_VLAN_ID> members target:<LOCAL_AS_NUMBER>:<VLAN_ID>

set interfaces irb unit <VLAN_ID> family inet address <IP_ADDRESS>
#}
