{% for vni in vnis %}
set policy-options community {{ vni.community }} members target:{{ vni.asn }}:{{ vni.vlan_id }}
set policy-options policy-statement {{ vni.l3_import }} term {{ vni.term }} from community {{ vni.community }}
set policy-options policy-statement {{ vni.l3_import }} term {{ vni.term }} then accept
set policy-options policy-statement {{ vni.l3_export }} term {{ vni.term }} then community add {{ vni.community }}
set policy-options policy-statement {{ vni.l3_export }} term {{ vni.term }} then accept
set routing-instances {{ vni.l3_name }} instance-type vrf
set routing-instances {{ vni.l3_name }} interface irb.{{ vni.vlan_id }}
set routing-instances {{ vni.l3_name }} route-distinguisher {{ lo_interfaces[vni.lo_interface].address }}:{{ vni.vni_id }}
set routing-instances {{ vni.l3_name }} vrf-import {{ vni.l3_import }}
set routing-instances {{ vni.l3_name }} vrf-export {{ vni.l3_export }}
set routing-instances {{ vni.l3_name }} vrf-table-label
set interfaces irb unit {{ vni.vlan_id }} family inet address {{ vni.l3_address }}
{% endfor %}
