{% for vni in vnis %}
set routing-instances {{ vni.l2.name }} vtep-source-interface {{ vni.lo_interface }}.0
set routing-instances {{ vni.l2.name }} instance-type mac-vrf
set routing-instances {{ vni.l2.name }} service-type vlan-based
set routing-instances {{ vni.l2.name }} route-distinguisher {{ lo_interfaces[vni.lo_interface].address }}:{{ vni.vlan_id }}
set routing-instances {{ vni.l2.name }} vrf-target target:{{ vni.asn }}:{{ vni.vni_id }}

{% endfor %}

{#
set routing-instances <VNI1-L2> vtep-source-interface lo0.0
set routing-instances <VNI1-L2> instance-type virtual-switch
set routing-instances <VNI1-L2> route-distinguisher <LO0-ADDRESS>:<ID-VNI-1>
set routing-instances <VNI1-L2> vrf-import <VNI1-L2-IMPORT>
set routing-instances <VNI1-L2> vrf-target target:<AS-NUMBER>:<ID-VNI-1>
set routing-instances <VNI1-L2> protocols evpn encapsulation vxlan
set routing-instances <VNI1-L2> protocols evpn extended-vni-list <ID-VNI-1>
set routing-instances <VNI1-L2> protocols evpn vni-options vni <ID-VNI-1> vrf-target export target:<AS-NUMBER>:<ID-VNI-1>
set routing-instances <VNI1-L2> protocols evpn multicast-mode ingress-replication
set routing-instances <VNI1-L2> bridge-domains bd-<VNI1> vlan-id <VNI-1>
set routing-instances <VNI1-L2> bridge-domains bd-<VNI1> routing-interface irb.<VNI-1>
set routing-instances <VNI1-L2> bridge-domains bd-<VNI1> vxlan vni <VNI-1>
set routing-instances <VNI1-L2> bridge-domains bd-<VNI1> vxlan ingress-node-replication

set policy-options policy-statement <VNI1-L2-IMPORT> term A from community <VNI-1>
set policy-options policy-statement <VNI1-L2-IMPORT> term A then accept
set policy-options community <VNI-1> members target:<AS-NUMBER>:<VNI-1>
#}

{# new
set routing-instances L2-VNI vtep-source-interface lo0.0
set routing-instances L2-VNI instance-type mac-vrf
set routing-instances L2-VNI service-type vlan-based
set routing-instances L2-VNI route-distinguisher 10.0.0.1:101
set routing-instances L2-VNI vrf-target target:65000:101
set routing-instances L2-VNI protocols evpn encapsulation vxlan
set routing-instances L2-VNI protocols evpn default-gateway do-not-advertise
set routing-instances L2-VNI protocols evpn extended-vni-list 101
set routing-instances L2-VNI bridge-domains bd-101 vlan-id 101
set routing-instances L2-VNI bridge-domains bd-101 routing-interface irb.101
set routing-instances L2-VNI bridge-domains bd-101 vxlan vni 101
#}