{% for vni in vnis %}
delete interfaces {{ vni.iface_mx_qfx }} description MX2QFX_{{ vni.iface_mx_qfx }}
delete interfaces {{ vni.iface_mx_qfx }} unit 0
delete interfaces {{ vni.iface_mx_qfx }} flexible-vlan-tagging
delete interfaces {{ vni.iface_mx_qfx }} encapsulation flexible-ethernet-services
delete interfaces {{ vni.iface_mx_qfx }} unit {{ vni.c_vlan }}
delete routing-instances {{ vni.ri_name }}
{% endfor %}
