{% for vni in vnis %}
set interfaces {{ vni.iface_mx_qfx }} description MX2QFX_{{ vni.iface_mx_qfx }}
{% endfor %}


{#
set interfaces <IF-NAME-TO-QFX> description <IF_DESCRIPTION>
set interfaces <IF-NAME-TO-QFX> mtu 9216
set interfaces <IF-NAME-TO-QFX> flexible-vlan-tagging
set interfaces <IF-NAME-TO-QFX> encapsulation flexible-ethernet-services
set interfaces <IF-NAME-TO-QFX> unit <S-VLAN> encapsulation vlan-bridge
set interfaces <IF-NAME-TO-QFX> unit <S-VLAN> vlan-tags outer <S-VLAN>
set interfaces <IF-NAME-TO-QFX> unit <S-VLAN> input-vlan-map pop
set interfaces <IF-NAME-TO-QFX> unit <S-VLAN> output-vlan-map push

set bridge-domains bd-<S-VLANS> vlan-id <S-VLAN>
set bridge-domains bd-<S-VLANS> routing-interface irb.<S-VLAN>

set interfaces irb unit <S-VLAN> family inet address <IPv4-ADDRESS>

set routing-instances <RI-NAME> instance-type vrf
set routing-instances <RI-NAME> interface irb.<S-VLAN>
set routing-instances <RI-NAME> route-distinguisher <LO0>:<VPN-ID>
set routing-instances <RI-NAME> vrf-target target:<AS-NUMBER>:<VPN-ID>
set routing-instances <RI-NAME> vrf-table-label
#}