{% for vni in vnis %}
delete policy-options community {{ vni.community }} members target:{{ vni.asn }}:{{ vni.vlan_id }}
delete policy-options policy-statement {{ vni.l3.import }}
delete policy-options policy-statement {{ vni.l3.export }}
delete routing-instances {{ vni.l3.name }}
delete interfaces irb
{% endfor %}
