{% for vni in vnis %}
delete interfaces {{ vni.iface_mx_qfx }} description MX2QFX_{{ vni.iface_mx_qfx }}
delete interfaces {{ vni.iface_mx_qfx }} unit 0
delete interfaces {{ vni.iface_mx_qfx }} unit {{ vni.s_vlan }}
delete interfaces {{ vni.iface_mx_qfx }} encapsulation flexible-ethernet-services
delete bridge-domains bd-{{ vni.s_vlan }}
delete interfaces irb
delete routing-instances {{ vni.ri_name }}
{% endfor %}
